<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123888963201-78nqociulr320g3canurl7nvafssml47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123888963201-78nqociulr320g3canurl7nvafssml47</string>
	<key>API_KEY</key>
	<string>AIzaSyDn1oxTPko8TaskyrLkRoub6Ei7S9bzRVU</string>
	<key>GCM_SENDER_ID</key>
	<string>123888963201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allmighty.Hikr</string>
	<key>PROJECT_ID</key>
	<string>hikr-e6574</string>
	<key>STORAGE_BUCKET</key>
	<string>hikr-e6574.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123888963201:ios:910a8339760a04589d8780</string>
</dict>
</plist>